################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstTryInno/FirstTryInno/obj/ARM/Debug
/FirstTryInno/FirstTryInno/bin/ARM/Debug
/FirstTryInno/FirstTryInno/MealApp.csproj.user
/FirstTryInno/.vs/FirstTryInno/v14/.suo
*.suo
/MealApp/MealApp/bin
/MealApp/MealApp/obj
/MealApp/MealApp.Controls/obj
/MealApp/MealApp.Controls/bin
